@use 'primeicons/primeicons.css';
@use 'app/shared/styles/auth-hero';
@use 'app/shared/styles/profile-section';
@use 'app/shared/styles/app-shell';
@use 'app/shared/styles/app-topbar';

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: var(--orv-font-sans);
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
}
